@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Lexend+Deca:wght@200;400&display=swap');

* {
  text-align: center;
  font-family: 'Akshar', sans-serif;
  border: 0px;
  margin: 0px;
  user-select: none;
}

body {
  color: white;
  background: url(./images/space-stars.gif)
}

header {
  margin-top: 10px;
  font-size: x-large;
  text-align: center;
  width: 100%;
  position: fixed;
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px white;
  top: -10px;
}

#solar-system {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 50px;
  text-shadow: 0px 1px 3px white;
}

#solar-system-title {
  width: 100%;
  font-size: 35px;
  margin-top: 100px;
  text-shadow: 0px 0px 3px gray;
  margin-bottom: 60px;
}

.planet-card {
  width: fit-content;
}

.planet-name {
  font-size: 25px; 
}

.planet-image {
  width: 175px;
  transition-property: width;
  transition-delay: 0s;
  transition-duration: 1s;
}

.planet-card:hover > .planet-image{
  width: 225px;
  transition-property: width;
  transition-delay: 0s;
  transition-duration: 1s;
}

#missions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
  margin-bottom: 225px;
}

#missions-title {
  width: 100%;
  font-size: 35px;
  margin-top: 20px;
  text-shadow: 0px 0px 3px gray;
  margin-bottom: 60px;
}

.mission-cards {
  background-color: rgba(128, 128, 128, 0.308);
  border-radius: 10px;
  border: 3px solid white;
  margin: 10px 10px;
  width: 300px;
  font-size: 20px;
  color: white;
  font-weight: 100;
  box-shadow: 0px 0px 0px white;

  transition-property: color, background-color, font-weight, border;
  transition-delay: 0s;
  transition-duration: .3s;
}

.mission-cards:hover {
  border: 3px solid rgb(27, 27, 27);
  color: rgb(22, 22, 22);
  background-color: rgba(255, 255, 255, 0.658);
  font-weight: 700;

  transition-property: color, background-color, font-weight, border;
  transition-delay: 0s;
  transition-duration: .5s;
}

#footer {
  background-color: rgb(43, 43, 43);
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: fixed;
  width: 100%;
  text-justify: distribute;
  top: 97.5%;
  height: 1000px;
}

#eu {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 5px rgba(255, 254, 254, 0.479);
}